@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.loading-area{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 20px;
  background: #fff;
  z-index: 9999999;
}

h2.now{
  font-weight: bolder;
}

.loading-area img {
  width: 100px;
}
.loading-area span {
  font-size: 20px;
  font-weight: bolder;
}

header {
    width: 100%;
    height: 80px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #00000014;
}

header a,
button {
    display: inline-flex;
    margin: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #111;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover{
    text-decoration: none;
    color:initial;
}

header a.logo img {
    width: 49px;
}

header a.logout {
    width: 50px;
    height: 50px;
    background-color: #f6f6f6;
    color: #111;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-weight: bolder;
    margin-right: 20px;
    transition: 200ms linear;
    z-index: 10;
}

.heading-area {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(104deg, #0191d7, #243896);
    position: relative;
}

.head-pill {
    padding: 15px 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #a5cff9;
    color: #fff;
}

.line {
    display: block;
    width: 1px;
    height: 40%;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    background: #fff;
    transform: translateX(-50%);
}

span.anim.head-pill h2 {
    font-size: 19px;
}

.faq-one {
    padding: 0 0 120px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .faq-one__bg {
    position: absolute;
    bottom: 4%;
    right: 0;
  }
  .faq-one .container {
    position: relative;
  }
  @media (min-width: 992px) {
    .faq-one .container {
      max-width: 920px;
    }
  }
  
  .faq-accrodion .accrodion {
    position: relative;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  .faq-accrodion .accrodion:before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: 0px;
    right: 0px;
    border-radius: 7px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    background-image: linear-gradient(40deg, #2d3293 0%, #00acee 100%);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
  }
  .faq-accrodion .accrodion + .accrodion {
    margin-top: 20px;
  }
  .faq-accrodion .accrodion.active {
    box-shadow: 0px 20px 60px 0px rgb(182 209 255 / 30%);
  }
  .faq-accrodion .accrodion.active .accrodion-inner {
    margin: 0 2px;
  }
  .faq-accrodion .accrodion.active:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .faq-accrodion .accrodion.active .accrodion-title:before {
    content: '-';
    color: #111;
    font-size: 24px;
  }
  .faq-accrodion .accrodion.active .accrodion-title {
    padding-bottom: 0;
  }
  .faq-accrodion .accrodion.active .accrodion-title h4 {
    color: #0198dc;
  }
  .faq-accrodion .accrodion .accrodion-inner {
    background-color: #fff;
    padding: 32px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #efefef;
    border-radius: 7px;
    position: relative;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  .faq-accrodion .accrodion .accrodion-title {
    padding: 0px 40px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  @media (max-width: 375px) {
    .faq-accrodion .accrodion .accrodion-title {
      padding-right: 50px;
    }
  }
  .faq-accrodion .accrodion .accrodion-title:before {
    content: '+';
    font-family: 'FontAwesome';
    color: #2a2833;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    right: 40px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .faq-accrodion .accrodion .accrodion-title h4 {
    margin: 0;
    color: #2a2833;
    font-size: 18px;
    font-weight: 500;
  }
  @media (max-width: 375px) {
    .faq-accrodion .accrodion .accrodion-title h4 {
      line-height: 1.4em;
    }
  }
  .faq-accrodion .accrodion .accrodion-content .inner {
    padding: 0 40px;
    padding-top: 25px;
    padding-bottom: 0px;
  }
  .faq-accrodion .accrodion .accrodion-content p {
    margin: 0;
    color: #74727a;
    font-size: 16px;
    line-height: 30px;
  }
  
  /*
  * 12. fact styles
  */
  .fact-one {
    padding-top: 120px;
  }
  .fact-one .container {
    z-index: 10;
    position: relative;
  }
  .fact-one__single {
    -webkit-box-shadow: 0px 20px 60px 0px rgba(42, 40, 51, 0.05);
            box-shadow: 0px 20px 60px 0px rgba(42, 40, 51, 0.05);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    position: relative;
  }
  .fact-one__single:before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 50%;
    background-image: linear-gradient(40deg, #ff43c0 0%, #ffa95c 100%);
  }
  .fact-one__inner {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(255, 118, 142, 0.3);
            box-shadow: 0px 20px 40px 0px rgba(255, 118, 142, 0.3);
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fact-one__inner h3,
  .fact-one__inner p {
    margin: 0;
  }
  .fact-one__inner h3 {
    color: #2a2833;
    font-weight: 400;
    font-size: 40px;
    line-height: 1em;
  }
  .fact-one__inner p {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 12px;
    font-weight: 500;
    color: #74727a;
    line-height: 1em;
    margin-top: 10px;
  }


  @media (max-width:500px){
    .faq-accrodion .accrodion .accrodion-title:before {
        top: 50% !important;
        right: 10px !important;
        font-size: 26px !important;
    }
  }


header a.logout:hover{
  color: #fff;
  background-image: linear-gradient(40deg, #2d3293 0%, #00acee 100%);
  transition: 200ms linear;
}
